<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ответ на вопрос</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        window.question = <%- JSON.stringify(info) %>;
        window.presetation = <%- presentId %>;
        window.CurrentSlide = '<%- CurrentSlide %>';
    </script>
</head>
<body>

<div id="app">
    <div class="container">
        <div class="row pt-4" v-if="success">
            <div class="col-xl-12">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Ответ принят</h4>
                </div>
            </div>
        </div>
        <div class="row pt-4" v-if="!success">
            <div class="col-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row"  v-if="!success">
            <div class="col-12">
                <div class="d-flex p-2 flex-column">
                    <div class="form-check p-3" v-for="(item, i) in question.answers" :key="i" v-if="item.chartsId != 'cloud'">
                        <input class="form-check-input" type="checkbox" @click="setAnswer(item.id, item.chartsId)" :checked="item.id === questionRes" :id="'flexCheckChecked'+i">
                        <label class="form-check-label pl-3" :for="'flexCheckChecked'+i">
                            {{ item.text }}
                        </label>
                    </div>
                    <div class="mb-3" v-if="question.chartsId == 'cloud'">
                        <label for="exampleFormControlInput1" class="form-label">Введите слово</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" v-model="questionRes" @input="onInput" placeholder="Введите слово">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4"  v-if="!success">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" @click="submitAnswer()" :disabled="questionRes == null || questionRes == ''" type="button">Отправить</button>
            </div>
        </div>
    </div>
</div>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            question: [],
            title: "",
            questionID: null,
            questionRes: null,
            success: false,
            chartsType: null
        },
        mounted(){
            this.question = window.question[0]
            console.log(this.question)
            this.title = this.question.question
            this.questionID = this.question.id
        },
        methods: {
            onInput(){
                this.chartsType = 'cloud'
            },
            setAnswer(id, charts){
                this.questionRes = id
                this.chartsType = charts
            },
            async submitAnswer(){
                await axios.post('/preview/save', {
                    id_slide: window.CurrentSlide,
                    id_question: this.questionID,
                    answer: this.questionRes,
                    id_presentation: window.presetation,
                    charts: this.chartsType
                })
                    .then(res => {
                        if (res.data.status){
                            this.success = true
                        }
                    })
            }
        }
    })
</script>
</body>
</html>