.gg-trash {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  outline: none;
}

[class^=slide-] {
  display: grid;
  place-items: center;
}

header {
  padding: 10px 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header h1 {
  font-family: Arial, serif;
  color: rgba(40, 46, 62, 0.6);
  cursor: pointer;
}
header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .buttons button:first-of-type {
  margin-right: 10px;
}

main {
  display: grid;
  gap: 0;
  height: 100vh;
  grid-template-columns: 1fr 3fr 2fr;
  z-index: 0;
  position: relative;
}
main .slide-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 50px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #f5f4f4;
}
main .slide-main .slideTitle {
  font-family: Arial, serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
}
main .slide-main .slideGraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ffffff;
}
main .slide-main .slideGraph .slidePic img {
  max-width: 300px;
}
main .slide-edit {
  font-family: Arial, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 75px 50px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
main .slide-edit .questionTitle {
  font-size: 18px;
  margin-bottom: 10px;
}
main .slide-edit .addQuestion {
  margin-top: 10px;
  border: 1px solid #000000;
  border-radius: 15px;
}
main .slide-edit .category {
  margin-top: 10px;
}
main .slide-edit .radioBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}
main .slide-edit .radioBtn label {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 3px;
}
main .slide-edit .radioBtn input {
  cursor: pointer;
}
main .slide-edit .options {
  margin-top: 30px;
}
main .slide-edit .options .optionsTitle {
  font-size: 18px;
}
main .slide-edit .options .optionItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
}
main .slide-edit .options .optionItems .optionItem {
  margin-top: 10px;
}
main .slide-edit .upload {
  display: none;
  margin-top: 10px;
}
main .slide-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
main .slide-menu .addSlide {
  margin-top: 10px;
}
main .slide-menu .slideList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
main .slide-menu .slideList .slideMini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  cursor: pointer;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ffffff;
  padding: 15px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
main .slide-menu .slideList .slideMini .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
main .slide-menu .slideList .slideMini .info p {
  font-size: 12px;
}
main .slide-menu .slideList .slideMini .info button {
  border: none;
  background: transparent;
}
main .slide-menu .slideList .slideMini .pic {
  width: 150px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  background: #fff;
  margin-left: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
main .slide-menu .slideList .activeMini {
  background: #a9d0dc;
}
main .slide-menu .slideList .activeMini .pic {
  border-color: #1f829f;
}

.mainLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mainLogin .loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px;
}

.entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 40px 20px;
}
.entry .presList {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.entry .presList .presItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  margin-right: 15px;
  background: #c4c4c4;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
  box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.entry .presList .presItem .window {
  width: 100%;
  height: 50px;
  background: #ffffff;
}
.entry .presList .presItem .title {
  margin-top: 15px;
  font-family: Arial, sans-serif;
}
.entry .presList .presItem:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}