<% if (presentation) { %>
<script>
    window.presetation = <%- JSON.stringify(presentation) %>;
</script>
<% } %>
<div id="constructor">
    <header>
        <h1 contenteditable="true" @input="changeNamePresentation">
            {{ name }}
        </h1>
        <div class="spinner-border mt-auto mb-auto" style="margin-left: auto; margin-right: 30px" v-if="loading" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-primary authorization">
                Авторизация
            </button>
            <button type="button" class="btn btn-primary registration">
                Регистрация
            </button>
        </div>
    </header>
    <main>
        <div class="slide-menu pt-4">
            <button type="button" class="btn btn-primary addSlide" @click="addSlide">
                Добавить слайд
            </button>
            <div class="slideList">
                <div class="slideMini"
                     :class="{'activeMini': activeSlide === item.id}"
                     v-if="slides.length > 0"
                     v-for="(item, i) in slides"
                     :key="i"
                     @click="selectSlide(item.id)"
                >
                    <div class="info">
                        <p class="number" data-id="1">{{ (i + 1)  }}</p>
                        <button class="remove" data-id="1" @click="dropSlides(item.id)"></button>
                    </div>
                    <div class="pic"></div>
                </div>
            </div>
        </div>
        <div class="slide-main activeSlide">
            <div v-if="showSlide.question != ''" class="w-100">
                <div class="slideTitle">
                    <span>{{ showSlide.question }}</span>
                </div>
                <div class="slideGraph" id="chart">

                </div>
            </div>
            <div
                    v-if="showSlide.question === ''"
                    class="alert alert-primary d-flex align-items-center w-100"
                    role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                    Начните заполнять данные
                </div>
            </div>
        </div>
        <div class="slide-edit">
            <div v-if="slides.length > 0">
                <div>
                    <label class="questionTitle" for="question">
                        Заголовок
                    </label>
                    <input type="text" class="form-control" id="question" v-model="showSlide.question" placeholder="Заголовок...">
                </div>

                <div>
                    <div class="category mb-2">Графики:</div>
                    <select class="form-select mb-3" @input="setSelect" :disabled="showSlide.question === ''" aria-label=".form-select-lg example">
                        <option :selected="showSlide.chartsId === ''">Выберите тип графика</option>
                        <option value="bar" :selected="showSlide.chartsId === 'bar'">Столбчатая диаграмма</option>
                        <option value="pie"  :selected="showSlide.chartsId === 'pie'">Круговая диаграмма</option>
                        <option value="area"  :selected="showSlide.chartsId === 'area'">Линейный график</option>
                        <option value="radar" :selected="showSlide.chartsId === 'radar'">Радиолокационная диаграмма</option>
                        <option value="polar" :selected="showSlide.chartsId === 'polar'">Полярная диаграмма</option>
                    </select>
                </div>

                <div class="options">
                    <div class="optionsTitle">
                        Опции
                    </div>
                    <div class="optionItems">
                        <div class="optionItem" v-for="(item) in showSlide.answers" :key="item.id">
                            <input class="form-control" v-model="item.text" @input="addDataFromQuestionInput" type="text" placeholder="Вариант">
                        </div>
                    </div>
                    <button type="button" @click="addQuestion" class="btn btn-primary addOption">
                        Добавить вариант
                    </button>
                    <button type="button" @click="savePresentation" class="btn btn-primary createGraph">
                        Готово
                    </button>
                </div>
            </div>
            <div v-else class="alert alert-primary d-flex align-items-center w-100" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                    Создайте слайд для начала
                </div>
            </div>
        </div>
    </main>
</div>
